header{
    background-color: blueviolet;
}
header .menu ul{
    display: flex;
    flex-direction: row;
    padding: 0%;
    margin: 0%;
}
header .menu ul li{
    /* background-color: brown; */
    position: relative;
    width: 150px;
    height: 100%;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    list-style-type: none;
}
header .menu ul li a{
    /* background-color: burlywood; */
    display: block;
    text-decoration: none;
    color: black;
    width: 100%;
    padding: 5px;
}
header .menu ul li ul{
    display: none;
    position: absolute;
}
header .menu ul li:hover  ul{
  display: block;
  background-color: burlywood;
}